page-modal {

}

.card-title-md {
  font-weight: bold;
  font-size: 2rem;
  padding: 0px;
  text-align: center;
}

.card-md p {
  font-size: 1.2rem;
}

.card-md h2 {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  color: red;
  font-weight: bold;
}

.card-md h4 {
  font-weight: bold;
  margin-top: 15px;
}
