<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-item>
      <ion-title><img src="../../../resources/logo.png"/>Mercado Agora</ion-title>
      <button ion-button (click)="closeModal()" item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-item>
</ion-header>


<ion-content>

    <ion-card *ngFor="let item of item">
      <img [src]="item.imagem"/>
      <ion-card-content>
        <ion-card-title>
          {{item.titulo}}
        </ion-card-title>
        <h2>{{ item.preco }}</h2>
        <button ion-button (click)="addCarrinho(item)" full>Adicionar ao carrinho</button>
        <h4>Descrição do produto:</h4>
        <p>
          {{item.descricao}}
        </p>
      </ion-card-content>
    </ion-card>

    <h3>Produtos Relacionados:</h3>
    <ion-row>
        <ion-col *ngFor="let item of relacionados" col-6>
          <ion-item>
            <img [src]="item.imagem" (click)="openModal()"/>
            <p>{{ item.titulo }}</p>
            <p>{{ item.mercado }}</p>
            <p>{{ item.preco }}</p>
            <button ion-button (click)="addCarrinho(item)" full>Adicionar</button>
          </ion-item>
        </ion-col>
      </ion-row>

</ion-content>
