page-produtos {

}

.item-md {
  background-color: transparent;
}

.toolbar-title-md{
  font-size: 1.3em;
  font-weight: bold;
  color:#00B3CC;
}

.item-md ion-icon {
  cursor: pointer;
}

.raw img {
  cursor: pointer;
}

ion-label {
  color: #000;
  font-weight: bold;
}