page-home {

}

// .card-background-page {

  

//   .card-title {
//     position: absolute;
//     top: 36%;
//     font-size: 2.0em;
//     width: 100%;
//     font-weight: bold;
//     color: #000;
//   }

// }

ion-content h3 {
  padding-left: 16px;
}

.extra img {
  width: 160px;
  height: 70px;
}

.dia img {
  height: 60px;
}

.paodeacucar img {
  width: 150px;
  height: 100px;
}

.cidadecancao img {
  width: 180px;
  height: 70px;
}
